<%= render 'shared/header' %>
  <div class="main">
  <%# トップヘッダー %>
  <% if user_signed_in? %>
    <div class='title-contents'>
      <h2 class='service-title'>
        ようこそ！<br>クリ<span>コレへ！</span>
      </h2>
      <p class='service-explain'>
        クリコレはだれでもかんたんに作品を投稿
      </p>
      <p class='service-explain'>
        アカウントを登録して創作物を投稿しよう！
      </p>
    </div>
    <% if current_user.collections == [] %>
      <div class="welcome-create">
        <p>さあ！自分の作品を登録しよう！</p>
        <%= link_to "投稿する！", new_collection_path, class: 'welcome-create-btn'%>
      </div>
    <% end %> 
    <%= link_to(new_collection_path, class: 'purchase-btn') do %>
      <span class='purchase-btn-text'>作ったものを<br>投稿する</span>
    <% end %> 
  <% else %>
    <div class='title-contents'>
      <h2 class='service-title'>
        ようこそ！<br>クリコレへ！
      </h2>
      <p class='service-explain'>
        クリコレはだれでもかんたんに作品を投稿
      </p>
      <p class='service-explain'>
        アカウントを登録して創作物を投稿しよう！
      </p>
      <%= link_to "登録はこちら！", new_user_registration_path, class: 'welcome-new-btn' %>
    </div>
  <% end %>
  <%# /トップヘッダー %>

  <%# お知らせ %>
  <h1 class="notification">お知らせ</h1>
  <div class="announcement-notice">
    <ul class="announcement-notice_list">
      <li class="announcement-notice__item">
        <div class="announcement-notice__item__date">2023/02/27</div>
        <%= link_to "#", class: "announcement-notice__item__link" do %>このアプリについて<% end %>
      </li>
      <li class="announcement-notice__item">
        <div class="announcement-notice__item__date">2023/02/27</div>
        <%= link_to "#", class: "announcement-notice__item__link" do %>寄付機能について<% end %>
      </li>
      <li class="announcement-notice__item">
        <div class="announcement-notice__item__date">2023/02/26</div>
        <%= link_to "#", class: "announcement-notice__item__link" do %>作品投稿の注意<% end %>
      </li>
      <li class="announcement-notice__item">
        <div class="announcement-notice__item__date">2023/02/26</div>
        <%= link_to "#", class: "announcement-notice__item__link" do %>サービス開始のお知らせ<% end %>
      </li>
    </ul>
  </div>
  <%# /お知らせ %>
  
  <%# 作品一覧 %>
  <div class='collection-contents'>
    <h2 class='title'>ピックアップカテゴリー</h2>
    <div class="subtitle" >
      新規投稿作品
    </div>
    <ul class='collection-lists'>
      <% @collections.each do |collection| %>
        <li class='collection'>
          <%= link_to collection_path(collection.id) do %>
          <div class='collectionimg-content'>
            <%= image_tag collection.images[0], class: "collection-img" if collection.images.attached? %>
          </div>
          <div class='collection-info'>
            <h3 class='collection-title'>
              <%= collection.title %>
            </h3>
              <div class='star-btn'>
                <%= image_tag "star.png", class:"star-icon" %>
                <span class='star-count'>0</span>
              </div>
            <div class="collection-user">
            <% if  current_user == collection.user %>
              <%= link_to  profile_path(@user), class: "collection-nickname" do %>
                <%= collection.user.nickname %>
              <% end %>
            <% else %>
              <%= link_to user_path(collection.user), class: "collection-nickname" do %>
                <%= collection.user.nickname %>
              <% end %>
            <% end %>
            </div>
          </div>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
  <%# /作品一覧 %>
</div>
