<div class="items-sell-contents">
  <div class="items-sell-main">
    <h2 class="items-sell-title">創作物情報を入力</h2>
    <%= form_with model: @collection, url: collections_path, local: true do |f| %>

    
    <%= render 'shared/error_messages', model: @collection %>
   

    <%# 作品画像 %>
    <div class="img-upload">
      <div class="weight-bold-text">
        作品画像
        <span class="indispensable">必須</span>
      </div>
      <div class="click-upload">
        <p>
          クリックしてファイルをアップロード
        </p>
        <%= f.file_field :image, id:"item-image" %>
      </div>
    </div>
    <%# /商品画像 %>
    <%# 商品名と商品説明 %>
    <div class="new-items">
      <div class="weight-bold-text">
        作品名
        <span class="indispensable">必須</span>
      </div>
      <%= f.text_area :title, class:"items-text", id:"item-name", placeholder:"作品名（必須 40文字まで)", maxlength:"40" %>
      <div class="items-explain">
        <div class="weight-bold-text">
          作品のポイント
          <span class="indispensable">必須</span>
        </div>
        <%= f.text_area :point, class:"items-text", id:"item-info", placeholder:"一押しポイント（必須 25文字まで）" ,rows:"1" ,maxlength:"25" %>
        <div class="weight-bold-text">
          作品の説明
        </div>
        <%= f.text_area :content, class:"items-text", id:"item-info", placeholder:"作品の魅力や工夫した箇所（必須 1,000文字まで）", maxlength:"1000" %>
      </div>
    </div>
    <%# /商品名と商品説明 %>

    <%# 商品の詳細 %>
    <div class="items-detail">
      <div class="form">
        <div class="weight-bold-text">
          カテゴリー
          <span class="indispensable">必須</span>
        </div>
        <%= f.collection_select(:category_id, Category.all, :id, :name, {}, {class:"select-box", id:"item-category"}) %>
      </div>
    <%# 下部ボタン %>
    <div class="sell-btn-contents">
      <%= f.submit "投稿する" ,class:"sell-btn" %>
      <%=link_to 'もどる', root_path, class:"back-btn" %>
    </div>
    <%# /下部ボタン %>
  </div>
  <% end %>
</div>