<%= render "shared/second-header"%>
<div class="main">
  <div class="collections-sell-contents">
    <div class="collections-sell-main">
      <h2 class="collections-sell-title">作品情報を入力</h2>
      <%= form_with model: @collection, url: collections_path, id: 'new-collection', local: true do |f| %>

      <%= render 'shared/error_messages', model: @collection %>
        
      <%# 作品画像 %>
      <div class="collection-field">
        <div class="weight-bold-text">
          作品画像
          <span class="indispensable">必須</span>
        </div>
        <div id="previews"></div>
        <div class="click-upload">
          <p>
            クリックしてファイルをアップロード
          </p>
          <%= f.file_field :images, name: 'collection[images][]', data: {index: 0} %>
        </div>
      </div>
      <%# /作品画像 %>
      <%# 作品名と作品説明 %>
      <div class="new-collections">
        <div class="weight-bold-text">
          作品名
          <span class="indispensable">必須</span>
        </div>
        <%= f.text_area :title, class:"collections-title", id:"collection-name", placeholder:"作品名（30文字まで)", maxlength:"30" %>
        <div class="collections-explain">
          <div class="weight-bold-text">
            作品のポイント
            <span class="indispensable">必須</span>
          </div>
          <%= f.text_area :point, class:"collections-point", id:"collection-info", placeholder:"一押しポイント（25文字まで）" ,rows:"1" ,maxlength:"25" %>
          <div class="weight-bold-text">
            作品の説明
          </div>
          <%= f.text_area :content, class:"collections-text", id:"collection-info", placeholder:"作品の魅力や工夫した箇所（1,000文字まで）", maxlength:"1000" %>
        </div>
      </div>
      <%# /作品名と作品説明 %>
      <%# 商品の詳細 %>
      <div class="collection-detail">
        <div class="form">
          <div class="weight-bold-text">
            カテゴリー
            <span class="indispensable">必須</span>
          </div>
          <%= f.collection_select(:category_id, Category.all, :id, :name, {}, {class:"select-box"}) %>
        </div>
        <%# 下部ボタン %>
        <div class="sell-btn-contents">
          <%= f.submit "投稿する" ,class:"sell-btn" %>
          <%=link_to 'もどる', root_path, class:"back-btn" %>
        </div>
        <%# /下部ボタン %>
      </div>
      <% end %>
    </div>
  </div>
</div>