<%= render 'shared/header' %>
<div class="main">
  <%# 作品の概要 %>
  <div class="show-view">
    <div class="show-upper-var">
      <div class="show-title">
        collection-info
      </div>
      <% if user_signed_in? %>
        <% if current_user == @collection.user %>
          <div class="collection-edit-btn">
            <button type="button" class="edit-btn" id="edit-lists">
                <span data-component="text">編集</span>
            </button>
            <ul class="show-edit-lists hidden" id="show-edit-list">
              <li class="edit-list"><%= link_to "編集", edit_collection_path, method: :get, class: "edit-action-btn" %></li>
              <li class="edit-list"><%= link_to "削除", collection_path, method: :delete, class: "delete-action-btn" %></li>
            </ul>
          </div>
        <% end %>
      <% end %>
    </div>
    <div class="collection-box">
      <div class="left-content">
        <h2 class="title">
          <%= @collection.title %>
        </h2>
        <%= image_tag @collection.images[0], class: "main-image" %><br>
        <div class="other-images">
          <% @collection.images[1..-1].each do |image| %>
            <div class="other-image">
              <%= image_tag image %>
            </div>
          <%end%>
        </div>
        <div class="favorite-count">
        <span>お気に入り<%= Favorite.count_by_collection(@collection.id) %></span>
      </div>
      </div>
      <div class="right-content">
        <div class="collection-explain-box">
          <span>こだわりポイント!</span>
          <div class="collection-point"><%= @collection.point %></div>
        </div>
        <div class="detail-table">
              <div class="detail-collection"><span>詳細説明</span><br>
                <%= @collection.content %>
              </div>
              <div class="detail-collection"><span>出品者</span>
                <% if  current_user == @collection.user %>
                  <%= link_to  profile_path(@user), class: "collection-nickname" do %>
                    <%= @collection.user.nickname %>
                  <% end %>
                <% else %>
                  <%= link_to user_path(@collection.user), class: "collection-nickname" do %>
                    <%= @collection.user.nickname %>
                  <% end %>
                <% end %>
              </div>
              <div class="detail-collection">カテゴリー
                <%= @collection.category.name %>
              </div>
        </div>
      </div>
    </div> 
    <% if user_signed_in? %>
      <% if current_user != @collection.user %>
        <div class="option">
          <div class="favorite-btn">
            <% if current_user.favorite_find(@collection) %>
              <%= link_to 'お気に入りからはずす', collection_favorites_path(@collection), method: :delete %>
            <% else %>
              <%= link_to 'お気に入り登録する', collection_favorites_path(@collection), method: :post %>
            <% end %>
          </div>
          <div class="report-btn">
            <%= link_to "不適切な商品の通報", '#' %>
          </div>
        </div>
      <% end %>
    <% end %>
  <%# /作品の概要 %>

  <%# コメントリスト %>  
    <div class="comments" id="comments">
      <h2 class="comment-list">みんなのコメント</h2>
      <% if @collection.comments == [] %>
        <div class="comment-nil">
            コメントはありません
        </div>
      <% else %>
        <% @collection.comments.each do |comment| %>
          <div class="comment">
            <div class="user-info">
              <%= comment.user.nickname %>
            </div>
            <div class="comment-content">
              <div class="comment-text">
                <p><%= comment.text%></p>
              </div>
              <% if user_signed_in? %>
                <% if current_user.id == comment.user_id %>
                  <%= link_to "削除", collection_comment_path(@collection, comment), method: :delete, class: "comment-delete-btn", id: "comment-delete" %>
                <% elsif current_user.id == @collection.user_id %>
                  <%= link_to "削除", collection_comment_path(@collection, comment), method: :delete, class: "comment-delete-btn", id: "comment-delete" %>
                <% end %>
              <% end %>
            </div>
          </div>
        <% end %>
      <%end%>
    </div>
  <%# /コメントリスト %>

  <%# コメントフォーム %>
    <div class="comment-form">
      <div class="comment-box">
        <% if user_signed_in? %>
          <%= form_with model: [@collection, @comment], id: "comment-form" do |f| %>
            <%= f.text_area :text , class: "comment-text-form", placeholder:"ここにコメントを入力"%>
            <p class="comment-warn">
              相手のことを考え丁寧なコメントを心がけましょう。
              <br>
              不快な言葉遣いなどは利用制限や退会処分となることがあります。
            </p>
            <%= f.submit "コメントをする", class: "comment-btn" %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
  <%# /コメントフォーム %>
</div>