<%= render 'shared/header' %>
<div class="main">
  <div class="user-show-page">
    <div class="user__wrapper">
      <div class="page-heading">
        <div class="user-show-name">
          <%= "#{@user.nickname}"%><span>さんの情報</span>
        </div>
        <div class="profile-edit-btn">
          <%= link_to "プロフィールを編集する", edit_profile_path, method: :get %>
        </div>
      </div>
            <!--タブ部分-->
      <ul class="tab-list list-unstyled">
        <li class="tab tab-active">
          ユーザー情報
        </li>
        <li class="tab">
          投稿作品
        </li>
        <li class="tab">
          お気に入りした作品
        </li>
        <li class="tab">
          応援した人
        </li>
        <li class="tab">
          応援してくれた人
        </li>
      </ul>
      <!--タブで選択された要素部分-->
      <div class="tabbox-contents">
        <div class="tabbox box-show">
          <%= render 'users/profile' %>    
        </div>
        <div class="tabbox">
          <%= render 'users/collection-show' %>
        </div>
        <div class="tabbox">
          <%= render 'users/favorite' %>
        </div>
        <div class="tabbox">
          <%= render 'profiles/donation-show' %>    
        </div>
        <div class="tabbox">
          <%= render 'profiles/donationd-show' %>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>