<%= render 'shared/header' %>
<div class="main">
  <div class="profile-view">
    <div class="user__wrapper">
      <div class="page-heading">
        <div class="page-heading-left">
          <%= "#{current_user.nickname}"%><span>さんの情報</span>
        </div>
        <div class="page-heading-right">
          <%= link_to "プロフィールを編集する", edit_profile_path, method: :get %>
        </div>
      </div>
      <div class="profile-content">
        <table class="table">
          <tbody>
            <tr>
              <th class="table__col1">ユーザー名</th>
              <td class="table__col2"><%= current_user.nickname %></td>
            </tr>
            <tr>
              <th class="table__col1">年齢</th>
              <% if current_user.age == nil %>
                <td class="table__col2">情報がありません</td>
              <% else %>
                <td class="table__col2"><%= current_user.age %>歳</td>
              <% end %>
            </tr>
            <tr>
              <th class="table__col1">性別</th>
              <% if current_user.gender_id == nil %>
                <td class="table__col2">情報がありません</td>
              <% elsif current_user.gender_id == 1 %>
                <td class="table__col2">情報がありません</td>
              <% else %>
                <td class="table__col2"><%= current_user.gender.type %></td>
              <% end %>
            </tr>
            <tr>
              <th class="table__col3">自己紹介</th>
              <% if current_user.introduction == nil %>
                <td class="table__col4-nil">情報がありません</td>
              <% elsif current_user.introduction == '' %>
                <td class="table__col4-nil">情報がありません</td>
              <% else %>
                <td class="table__col4"><%= current_user.introduction %></td>
              <% end %>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
      <div class="user-collections">
        <h2><span><%= "#{current_user.nickname}"%></span>さんの作品</h2>
        <ul class='collection-lists'>
        <% current_user.collections.each do |collection| %>
          <li class='collection'>
            <%= link_to collection_path(collection.id) do %>
            <div class='collectionimg-content'>
              <%= image_tag collection.images[0], class: "collection-img" if collection.images.attached? %>
            </div>
            <div class='collection-info'>
              <h3 class='collection-title'>
                <%= collection.title %>
              </h3>
                <div class='star-btn'>
                  <%= image_tag "star.png", class:"star-icon" %>
                  <span class='star-count'>0</span>
                </div>
              <div class="collection-user">
              </div>
            </div>
            <% end %>
          </li>
        <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>