<header>
  <div class="inner">
    <div class="upper-nav">
      <div class="header-left">
        <%= link_to root_path, class: :app_title do %>
          クリ<span class="kore">コレ！</span>
        <% end %>
      </div>
      <div class="header-right">
        <% if user_signed_in? %>
          <div class="nav__right">
            <div class="user_nickname" id="lists"><%= current_user.nickname %></div>
              <ul class="user-menu-wrapper hidden" id="user-menu-list">
                <li class="user-menu-list"><%= link_to "マイページ", profile_path(@user), class: :menu_list_btn %></li>
                <li class="user-menu-list"><%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: :menu_list_btn  %></li>
                <li class="user-menu-list"><%= link_to "フォロー", user_followings_path(current_user.id), class: :menu_list_btn  %></li>
                <li class="user-menu-list"><%= link_to "フォロワー", user_followers_path(current_user.id), class: :menu_list_btn  %></li>
              </ul>
          </div>
        <% else %>
          <div class="nav__right">
            <%= link_to "ログイン", new_user_session_path, class: :nav__btn %>
            <%= link_to "アカウント登録", new_user_registration_path, class: :nav__btn %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="under-nav">
    <ul class="global__list">
      <li class="list__inner">
        <a class="inner__item" href="/">
          <span class="item__text">トップ</span>
        </a>
      </li>
      <li class="list__inner">
        <a class="inner__item" href="#">
          <span class="item__text">クリコレとは</span>
        </a>
      </li>
      <li class="list__inner">
        <a class="inner__item" href="#">
          <span class="item__text">カテゴリー</span>
        </a>
      </li>
      <li class="list__inner">
        <a class="inner__item" href="#">
          <span class="item__text">ランキング</span>
        </a>
      </li>
    </ul>
  </div>
</header>