<%= render "shared/second-header"%>
<div class="main">
  <div class="donation">
    <div class="donation-inner">
      <div class="donation-link-text">
        <span><%= @user.nickname %></span>さん<br>を支援して応援をしよう！
      </div>
    </div>
  </div>
  <%= form_with  model: @donation, url: user_donations_path,id: 'charge-form', class: 'registration-main',local: true do |f| %>
  <%= render 'shared/error_messages', model: @donation %>
  <div class='form-wrap'>

    <div class="form-group">
      <div class='form-text-wrap'>
        <label class="form-text">応援メッセージ</label>
      </div>
      <%= f.text_area :text, class:"price", placeholder:"例)2000" %>
    </div>
    <div class="form-group">
      <div class='form-text-wrap'>
        <label class="form-text">金額</label>
      </div>
      <%= f.text_field :price, class:"price", placeholder:"例)2000" %>
    </div>

    <div class="card-form">
      <div class="form-group">
        <div class='form-text-wrap'>
          <label class="form-text">カード番号</label>
        </div>
        <div id="number-form" class="input-default"></div>
      </div>
      <div class="form-group">
        <div class='form-text-wrap'>
          <label class="form-text">期限</label>
        </div>
        <div id="expiry-form" class="input-default"></div>
      </div>
      <div class="form-group">
        <div class='form-text-wrap'>
          <label class="form-text">カード背面4桁もしくは3桁の番号</label>
        </div>
        <div id="cvc-form" class="input-default"></div>
      </div>
      <div class="form-group">
      <%= f.submit "購入", class:"button", id: "button" %>
      <%=link_to 'もどる', root_path, class:"edit-back-btn" %>
      </div>
    </div>
  </div>
  <% end %>
</div>
